<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <div class="container-fluid">
        <h1 class="nav-title">
            <a class="navbar-brand" style="font-size: 25px;">COPERNICUS - Coastal Web Viewer</a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>

            <a href="https://www.gisgeolab.polimi.it/" aria-label="Polimi GIS-GEOLab" title="Polimi GIS-GEOLab">
                <img class="image-spacing" src="assets/images/geolab.png">
            </a>
            <a href="https://www.polimi.it/" aria-label="Politecnico di Milano" title="Politecnico di Milano">
                <img class="image-spacing" src="assets/images/polimi.png">
            </a>

            <div class="navbar-separator"></div>

            <fa-icon style="cursor: pointer;" class="navbar-icon ps-4 pe-3" [icon]="_questionIcon" (click)="activateTutorial()"></fa-icon>

        </div>
    </div>
</nav>